body {
  background-color: #f8f9fa;
  font-family: "Poppins", sans-serif;
}

.card {
  border-radius: 15px;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border: 2px solid #007bff;
}

.card-body {
  padding: 1.25rem;
}

.btn-group .btn {
  margin: 0 5px;
  color: white;
  font-weight: 500;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
}

.btn-group .btn-outline-secondary {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-group .btn-outline-secondary:hover {
  background-color: #ffffff;
  border-color: #0056b3;
  color: #0056b3;
}

.btn-group .btn:nth-child(2) {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-group .btn:nth-child(2):hover {
  background-color: #ffffff;
  border-color: #0056b3;
  color: #0056b3;
}

.card-img-top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.bd-placeholder-img {
  border-radius: 13px 13px 0 0;
}

.text-body-secondary {
  color: #6c757d;
}
